@use "sass:math";

$item_width: 300px;
$item_height: 200px;
$show_number: 3;

.carousel-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 300px;


  .carousel-wrapper {
    display: flex;
    width: 100%;
    transition: transform 300ms ease-in-out;

    .carousel-track {
      display: flex;
      width: $item_width * $show_number;
      transition: transform 300ms ease-in-out;

      .carousel-item {
        flex: 0 0 math.percentage(math.div(1,$show_number));
        box-sizing: border-box;
        padding: 10px;
        width: $item_width;
        height: $item_height;
        // margin-right: 10px;
        // background-color: rgb(219, 219, 219);
      }
    }

  }

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }

  button[aria-label="Previous"] {
    left: 0px;
  }

  button[aria-label="Next"] {
    right: 0px;
  }
}








